[package]
name = "tendermint-lc"
version = "0.1.0"
edition = "2021"

[dependencies]
sgx_tstd = { git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }
ibc = { git = "https://github.com/informalsystems/ibc-rs", rev = "e8c98d440949abf971ac45a68ed9dd9e6e9f48ed", default-features = false }
ibc-proto = { git = "https://github.com/informalsystems/ibc-rs", rev = "e8c98d440949abf971ac45a68ed9dd9e6e9f48ed", default-features = false }
tendermint-light-client-verifier = { version = "=0.23.7", default-features = false }
tendermint-proto = { version = "=0.23.7", default-features = false }
prost = { version = "0.10", default-features = false }
prost-types = { version = "0.10", default-features = false }
sha2 = { version = "0.8", default-features = false }
time = { version = "0.3", default-features = false }
lazy_static = { version = "1.1.0", features = ["spin_no_std"] }
serde = { version = "1.0", default-features = false, features = ["alloc"] }

log = { version = "0.4.8", optional = true }
log-sgx = { package = "log", git = "https://github.com/mesalock-linux/log-sgx", optional = true }
anyhow = { version = "1.0.56", optional = true }
anyhow-sgx = { package = "anyhow", rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/anyhow-sgx.git", optional = true }
thiserror = { version = "1.0.30", optional = true }
thiserror-sgx = { package = "thiserror", git = "https://github.com/mesalock-linux/thiserror-sgx.git", optional = true }

lcp-types = { path = "../types", default-features = false }
light-client = { path = "../light-client", default-features = false }
commitments = { path = "../commitments", default-features = false }
validation-context = { path = "../validation-context", default-features = false }

[features]
default = ["std"]
std = [
    "log",
    "anyhow",
    "thiserror",
    "lcp-types/std",
    "commitments/std",
    "validation-context/std",
    "light-client/std"
]
sgx = [
    "sgx_tstd",
    "log-sgx",
    "anyhow-sgx",
    "thiserror-sgx",
    "lcp-types/sgx",
    "commitments/sgx",
    "validation-context/sgx",
    "light-client/sgx"
]
